.primary-background, .primary-bg {
  background-color: $red;

  p,h1,h2,h3,h4,h5,label {
    color: $white;
  }
}
.secondary-background, .secondary-bg { background-color: $secondary-color };
.blue-background, .blue-bg { background-color: $blue };

.black-background, .black-bg {
  background-color: $black;

  * {
    color: $white;
  }
}
.white-background, .white-bg {
  background-color: $white;

  h1,h2,h3,h4,h5,label {
    color: $red;
  }
}

.image-background, .image-bg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -99999;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.medium-gray-trans-bg, .medium-gray-trans-background {
  background-color: $medium-gray-trans;
}
.lighter-gray-trans-bg, .lighter-gray-trans-background {
  background-color: $lighter-gray-trans;
}

.alexandria-background {
  background-image: asset-url('background.jpg')
}

.semi-trans {
  opacity: 0.5;
}

.opaque {
  opacity: 1
}
