.white-border { border: solid 1px $white };
.black-border { border: solid 1px $black };
.dark-gray-border { border: solid 1px $dark-gray };
.darker-gray-border { border: solid 1px $darker-gray };
.medium-gray-border { border: solid 1px $medium-gray };
.light-gray-border { border: solid 1px $light-gray };
.lighter-gray-border { border: solid 1px $lighter-gray };
.primary-border { border: solid 1px $primary-color };
.secondary-border { border: solid 1px $secondary-color };

.dotted-border {
  border-style: dotted;
}
.dashed-border {
  border-style: dashed;
}

.radius {
  border-radius: 0.5rem;
}
