footer {
  background-color: $red;
  width: 100%;

  p {
    font-size: 0.8em;
  }

  .fa {
    font-size: 1.5em;
  }

  i.fa.fa-envelope:hover {
    color: rgba($white, 0.5);
  }

  @include breakpoint(medium up) {
    div {
      flex-flow: row nowrap !important;
      padding: 0 2rem;
    }
  }

  #footer {
    @include breakpoint(large up) {
      // max-height: rem-calc(90);

    }
  }
}
