header {
  opacity: 1 !important;
  background-color: $white !important;
  z-index: 1;
  max-width: 100% !important;
  height: 15vh;

  .logo {
    @include breakpoint(small only) {
      max-height: rem-calc(70);
    }

    @include breakpoint(medium up) {
      max-width: rem-calc(180);
    }
  }
}

.responsive-nav {
  background-color: $white !important;
}

.responsive-nav {
  &.is-stuck {
    width: 100%;
    box-shadow: 0px 4px 10px -2px rgba(128, 128, 128, 0.68);
  }

  a {
    color: $nav-text-color;
    font-size: 0.8rem;

    &:hover {
      color: $highlight-color;
      transition: color 0.2s ease-in;
    }
  }

  .menu li a h1 {
    font-size: 1.2rem;
  }

  @include breakpoint(small only) {
    .menu li a h1 {
      padding: 0 1rem;
      color: $white;
      text-align: center;
    }

    .menu.vertical a {
      justify-content: center;
    }
  }

  @include breakpoint(medium up) {
    font-size: 2rem;
  }

  a {
    padding-right: 0.1rem;
  }
}

.responsive-nav-left {
  @include breakpoint(medium up) {
    width: 20%;
  }
}

.responsive-nav {
  display: flex;
  justify-content: end;
  width: 100vw;

  .responsive-nav-left {
    flex: 1 0 0;

    li {
      font-size: 1.5rem;
    }
  }

  @include breakpoint(medium up) {
    width: 50vw;
  }
}
.sticky-container {
  width: 100%;
}
