$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;

.menu-hover-lines {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: $menu-hover-lines-transition;

  li a {
    padding: 0.75rem 0;
    color: rgba($nav-text-color, 0.5);
    position: relative;
    border-bottom: 3px solid transparent;
  }

  li:first-child a {
    margin-left: 0;
  }

  li.active > a {
    background-color: transparent;
  }

  a::after {
    height: $menu-hover-lines-border-width;
    position: absolute;
    content: "";
    transition: $menu-hover-lines-transition;
    background: transparent;
    width: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    color: $nav-text-color;
    transition: $menu-hover-lines-transition;
    border-image: url("https://alexandria-ica.s3.eu-west-2.amazonaws.com/brush_stroke.png")
      3;
    border-image-width: 2.5;
  }

  a:hover::after,
  .active a::after {
    width: 100%;
  }
  @include breakpoint(small only) {
    a::after {
      background: $nav-bg-color;
    }
  }
}

.responsive-nav-right {
  .menu-icon {
    margin-right: $nav-padding;

    &::after {
      padding-right: 1.5rem;
      background: $highlight-color;
      box-shadow: 0 7px 0 $highlight-color, 0 14px 0 $highlight-color;
    }
  }
}

.responsive-nav,
.responsive-nav-right {
  //background-color: $red;
  color: $white;

  @include breakpoint(medium up) {
    background-color: transparent !important;
    .menu {
      color: $red;
    }
  }

  @include breakpoint(medium only) {
    padding-left: 5rem;
  }
}

#responsive-menu {
  display: flex;
  width: 100%;
  background-color: transparent;

  @include breakpoint(small only) {
    background: $red;
    justify-content: center;
  }
}
