- provide :page_title, 'Something smells funny'
- provide :no_index, true

%fieldset.fieldset.callout.white-background.lmt
  -# %legend= fa_icon 'warning', text: 'Something smells funny', class: 'smr'

  %p.black
    Oh dear. Somethings gone wrong.

  %p.black Please go back and retry what you were doing.

  %p.black
    If the problem persists please
    = link_to 'submit an issue', new_issue_path
    or
    = link_to 'contact us.', 'mailto:bevingtonaudio@gmail.com'
