- provide :page_title, 'Not Found'
- provide :no_index, true

%fieldset.fieldset.callout.white-background.lmt
  -# %legend= fa_icon 'warning', text: 'Page Not Found', class: 'smr'

  %p
    %span.black The page you were looking for:
    %span.block.primary-color= request.original_url
    %span.black does not exist.

  %p.black Perhaps you have typed the URL incorrectly?
