- provide :page_title, 'Not Authorised'
- provide :no_index, true

%fieldset.fieldset.callout.white-background.lmt
  -# %legend= fa_icon 'warning', text: 'Not Authorised', class: 'smr'

  %p
    %span.black The page you were looking for:
    %span.block.primary-color= request.original_url
    %span.black requires authorisation.

  %p.black Perhaps you need to be an admin?
