- provide :page_title, 'Unacceptable'
- provide :no_index, true

%fieldset.fieldset.callout.white-background.lmt
  -# %legend= fa_icon 'warning', text: 'Unacceptable', class: 'smr'

  %p.black
    The action you tried to complete is unacceptable.

  %p.black There may have been an error in the information you submitted, or you may require admin authorisation.

  %p.black
    If the problem persists please
    = link_to 'submit an issue', new_issue_path
    or
    = link_to 'contact us.', 'mailto:bevingtonaudio@gmail.com'
