%footer.spt.spb.primary-bg
    #footer.grid-x.flex-dir-column.align-middle.align-spaced
        .cell.small-3.sponsor
            =image_tag 'https://alexandria-ica.s3.eu-west-2.amazonaws.com/wdc-logo.png', alt: 'west dunbartonshire council logo'
        .cell.small-6.copyrights
            %p.mpt.text-center
                This project is delivered by Willie Miller Urban Design for West Dunbartonshire Council.
                %br
                Website by icecream architecture.  © 2019
        .cell.small-3.social-media.text-center
            = link_to 'mailto:info@icecreamarchitecture.com?subject=Alexandria' do
                %i.fa.fa-envelope.white
