%header.white-bg.mmt.mmb
    .small-4.responsive-nav-left.align-center-middle
        = link_to root_path do
            = image_tag 'https://d1yjjnpx0p53s8.cloudfront.net/styles/large/s3/e536b7eb-94f5-4cb7-857f-240aaa1bd4e7.png?zi0gsBdWvl0JIXfL7P0vvTpChur.StcT&itok=MaB5Mc12', class: 'logo' 
                
    -# HAMBURGWER MENU ICON
    .responsive-nav.mp{"data-responsive-toggle" => "responsive-nav"}
        .cell-8.responsive-nav-right
            %button.menu-icon{"data-hide-for" => "medium", "data-toggle" => "responsive-nav", :type => "button"}

    -# MEDIUM UP
    #sticky-container{"data-sticky-container" => ""}
        #responsive-nav.responsive-nav{"data-options" => "marginTop:0;", "data-sticky" => ""}
            #responsive-menu.row
                = render 'nav'
