.responsive-nav-right.cell-8
    %ul.menu.menu-hover-lines.vertical.medium-horizontal.xlpr.flex-container.align-right
        %li.sp.hide-for-medium-up
            = link_to root_path do
                %h1 About
        %li.sp
            = link_to  do
                %h1 Tell Us
                
        
        %li.sp
            = link_to do
                %h1 Ideas

        %li.sp
            = link_to  do
                %h1 Contact
      
     

