!!!
%html
  %head

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }


    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Header
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Chivo:400,400i,700|Signika:400,700&display=swap'


    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ class: "#{controller_name} #{action_name}" }
    = render 'header'

    %main.main
      = yield

    - unless controller_name === 'pages' 
      = render 'footer'

